/**
 * Colors
 */
/**
 * Navbar
 */
.navbar {
  border-radius: 0px;
  background-color: #eb5d40;
  border-color: #b22e13; }
  .navbar .navbar-brand {
    color: #FFF; }
  .navbar .navbar-nav li a {
    color: #FFF; }
